<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <div style="display: flex;">
                        <h3  class="form-title"><%= __('Reset Password.') %></h3>
                    </div>                   
                    <p><%= __('Enter your otp bellow to reset password.') %></p><br>
                    <div>
                        <% if(message != '') { %>
                            <div id="myDivSuccess" class="alert alert-dismissible fade show mb-3" style="background-color: rgb(183, 237, 183); border: none; color: rgb(2, 120, 2);" role="alert">
                                <%= message %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="hideDivSuccess()"></button>
                            </div>
                            
                            <script>
                                function hideDivSuccess() {
                                    var div = document.getElementById('myDivSuccess');
                                    div.style.display = 'none';
                                }
                            </script>                        
                        <% } else if(error != ''){ %>
                            <div id="myDiv" class="alert alert-dismissible fade show mb-3" style="background-color: rgb(237 183 183); border: none; color: rgb(120 2 2);" role="alert">
                                <%= error %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="hideDiv()"></button>
                            </div>
                            <script>
                                function hideDiv() {
                                  var div = document.getElementById('myDiv');
                                  div.style.display = 'none';
                                }
                            </script>
                        <% } %>
                    </div>
                    <form action="/admin/reset-password" method="post" class="register-form" id="login-form">
                        <div class="form-group">
                            <div class="">
                                <input name="otp" type="number" placeholder="Enter your otp here"
                                    class="form-control input-height" required
                                    value="<%= formValue && formValue.otp ? formValue.otp:''  %>"
                                    /> </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input name="new_password" type="password" placeholder="New password"
                                    class="form-control input-height" required
                                    value="<%= formValue && formValue.new_password ? formValue.new_password:''  %>"
                                    /> </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input name="confirm_password" type="password" placeholder="Confirm password"
                                    class="form-control input-height" required
                                    value="<%= formValue && formValue.confirm_password ? formValue.confirm_password:''  %>"
                                    /> </div>
                        </div>
                        <div class="form-group form-button">
                            <a href="/admin/login" class="btn btn-round btn-primary" name="send" id="send" style="background: #6673fc ;"><%= __('Go to Login') %></a>
                            <button style="float: right; background: #6673fc ;" class="btn btn-round btn-primary" name="send" id="send"><%= __('Reset password') %></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>