<!-- start sidebar menu -->
<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll" class="left-sidemenu">
            <ul class="sidemenu page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200" style="padding-top: 20px">
                <!-- <li class="nav-item">
                    <a href="/admin/superadmin/dashboard" class="nav-link nav-toggle"> <i
                            data-feather="airplay"></i>
                        <span class="title">Dashboard</span>
                    </a>
                </li> -->
                <li class="nav-item <%= (active === 1 || active === 2) ? " active" : "" %>">
                        <a href="#" class="nav-link nav-toggle">
                        <i data-feather="users"></i>
                        <span class="title"><%= __('Admins') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item <%= (active === 1) ? " active" : "" %>">
                            <a href="/admin/create" class="nav-link ">
                                <span class="title mx-4"><%= __('Create Admin') %></span>
                            </a>
                        </li>
                        <li class="nav-item <%= (active === 2) ? " active" : "" %>">
                            <a href="/admin/list" class="nav-link ">
                                <span class="title mx-4"><%= __('All Admins') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item <%= (active === 3 || active === 4) ? " active" : "" %>">
                    <a href="#" class="nav-link nav-toggle"><i data-feather="bookmark"></i>
                        <span class="title"><%= __('Subscriptions') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item <%= (active === 3) ? " active" : "" %>">
                            <a href="/admin/subscription/create" class="nav-link ">
                                <span class="title mx-4"><%= __('Create Subscription') %></span>
                            </a>
                        </li>
                        <li class="nav-item <%= (active === 4) ? " active" : "" %>">
                            <a href="/admin/subscription/list" class="nav-link ">
                                <span class="title mx-4"><%= __('Subscriptions') %></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/admin/log-out" class="nav-link nav-toggle"><i data-feather="log-out"></i>
                        <span class="title">
                            <%= __('Sign Out') %>
                        </span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle"> <i
                            data-feather="airplay"></i>
                        <span class="title"><%= __('Loyalty Points Settings') %></span>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle"> <i
                            data-feather="airplay"></i>
                        <span class="title"><%= __('Customers Info') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle"> <i
                            data-feather="airplay"></i>
                        <span class="title"><%= __('Promotions') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle"> <i
                            data-feather="airplay"></i>
                        <span class="title"><%= __('Manage Cashier') %></span>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle"><i data-feather="settings"></i>
                        <span class="title"><%= __('Settings') %></span>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle"> <i
                            data-feather="airplay"></i>
                        <span class="title"><%= __('Sign Out') %></span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<!-- end sidebar menu -->