<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class="pull-left">
          <div class="page-title"><%= __('All Subscriptions') %></div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li>
            <i class="fa fa-home"></i>&nbsp;<a
              class="parent-item"
              href="/admin/list"
            >
              <%= __('Home') %> </a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a class="parent-item" href="#"> <%= __('Subscriptions') %> </a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <!-- <li><a class="parent-item" href="#"><%= __('Create Banner') %></a></li> -->
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="tab-content">
            <div class="tab-pane active fontawesome-demo" id="tab1">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <% if(message !='' ) { %>
                        <div
                          id="myDivSuccess"
                          class="alert alert-dismissible fade show mb-0"
                          style="
                            background-color: rgb(183, 237, 183);
                            border: none;
                            color: rgb(2, 120, 2);
                          "
                          role="alert"
                        >
                          <%= message %>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                            onclick="hideDivSuccess()"
                          ></button>
                        </div>
                        <script>
                          function hideDivSuccess() {
                            var div = document.getElementById("myDivSuccess");
                            div.style.display = "none";
                          }
                        </script>
                        <% } else if(error !='' ){ %>
                        <div
                          id="myDiv"
                          class="alert alert-dismissible fade show mb-0"
                          style="
                            background-color: rgb(237 183 183);
                            border: none;
                            color: rgb(120 2 2);
                          "
                          role="alert"
                        >
                          <%= error %>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                            onclick="hideDiv()"
                          ></button>
                        </div>
                        <script>
                          function hideDiv() {
                            var div = document.getElementById("myDiv");
                            div.style.display = "none";
                          }
                        </script>
                        <% } %>
                      </div>
                      <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                          <a
                            type="button"
                            class="btn btn-round btn-primary"
                            href="/admin/subscription/create"
                          >
                            <%= __('Add Subscription') %>
                          </a>
                        </div>
                      </div>
                      <!-- <table class="table table-responsive custom-table table-sm" id="subscriptionTable">
                        <thead>
                          <tr>
                            <th class="text-center"><%= __('S.No') %></th>
                            <th class="text-center"><%= __('Admin Email') %></th>
                            <th class="text-center"><%= __('Subscription Name') %></th>
                            <th class="text-center"><%= __('Price') %></th>
                            <th class="text-center"><%= __('Currency') %></th>
                            <th class="text-center"><%= __('Status') %></th>
                            <th class="text-center"><%= __('Expired in Days') %></th>
                            <th class="text-center"><%= __('Actions') %></th>
                            <th class="text-center">ID</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (totalItems) { %>
                            <% let activeItems=[]; let expiredItems=[]; const statusFilter='active'; %>
                            <% items.forEach((data) => {
                              const expirationDate = new Date(data.plan_period_end);
                              const currentDate = new Date();
                              const daysUntilExpiration = Math.floor((expirationDate - currentDate) / (1000 * 60 * 60 * 24));
                              const isActive = daysUntilExpiration >= 0;
                      
                              if (data.status === statusFilter) {
                                if (isActive) {
                                  activeItems.push({ ...data, daysUntilExpiration });
                                } else {
                                  expiredItems.push({ ...data, daysUntilExpiration });
                                }
                              }
                            }); %>
                            <% let counter=1; 
                            let combinedItems = activeItems.concat(expiredItems);
                            combinedItems.forEach((data) => {
                              const isActive = data.daysUntilExpiration >= 0;
                              const daysColor = data.daysUntilExpiration < 0 ? '#f18484' : '#5aa94a';
                              const actionButton = isActive ? { text: __('Deactivate'), style: 'btn-danger', action: 'deactivate' }
                                                            : { text: __('Activate'), style: 'btn-success', action: 'activate' };
                            %>
                              <tr>
                                <td class="text-center"><%= counter %></td>
                                <td class="text-center">
                                  <a href="#" class="viewAllSubscriptions" data-email="<%= data.Super_Admin_Cashier.email %>">
                                    <%= data.Super_Admin_Cashier.email %>
                                  </a>
                                </td>
                                <td class="text-center"><%= data.Subscription.name %></td>
                                <td class="text-center"><%= data.Subscription.price %></td>
                                <td class="text-center"><%= data.Subscription.currency %></td>
                                <td class="text-center" style="color: <%= daysColor %>">
                                  <%= isActive ? __('Active') : __('Expired') %>
                                </td>
                                <td class="text-center" style="color: <%= daysColor %>">
                                  <%= data.daysUntilExpiration %>
                                </td>
                                <td class="text-center">
                                  <button data-id="<%= data.id %>" data-action="<%= actionButton.action %>"
                                    class="tblActBtn btn <%= actionButton.style %> openModal"
                                    style="border: none">
                                    <%= actionButton.text %>
                                  </button>
                                </td>
                                <td class="text-center"><%= data.id %></td> 
                              </tr>
                              <% counter++; %>
                            <% }); %>
                          <% } else { %>
                            <tr>
                              <td colspan="9" class="text-center dataTables_empty">
                                <%= __('No data found') %>
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table> -->

                      <!-- Assuming inside your EJS template -->
                      <table class="table table-responsive custom-table table-sm" id="subscriptionTable">
                        <thead>
                          <tr>
                            <th class="text-center"><%= __('S.No') %></th>
                            <th class="text-center"><%= __('Admin Email') %></th>
                            <th class="text-center"><%= __('Subscription Name') %></th>
                            <th class="text-center"><%= __('Price') %></th>
                            <th class="text-center"><%= __('Currency') %></th>
                            <th class="text-center"><%= __('Status') %></th>
                            <th class="text-center"><%= __('Expired in Days') %></th>
                            <th class="text-center"><%= __('Actions') %></th>
                            <th class="text-center">ID</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (totalItems) { %>
                            <% items.forEach((data, index) => { %>
                              <tr>
                                <td class="text-center"><%= index + 1 %></td>
                                <td class="text-center"><%= data.Super_Admin_Cashier.email %></td>
                                <td class="text-center"><%= data.Subscription.name %></td>
                                <td class="text-center"><%= data.Subscription.price %></td>
                                <td class="text-center"><%= data.Subscription.currency %></td>
                                <td class="text-center">
                                  <% if (data.daysLeft >= 0) { %>
                                    <span style="color: #5aa94a;"><%= __('Active') %></span>
                                  <% } else { %>
                                    <span style="color: #f18484;"><%= __('Expired') %></span>
                                  <% } %>
                                </td>
                                <td class="text-center" style="color: <%= data.daysLeft < 0 ? '#f18484' : '#5aa94a' %>;">
                                  <%= Math.abs(data.daysLeft) %> <%= __('day(s)') %>
                                </td>
                                <td class="text-center">
                                  <button data-id="<%= data.id %>" class="tblActBtn btn openModal" style="border: none; background-color: <%= data.daysLeft >= 0 ? '#f18484' : '#5aa94a' %>; color: white;">
                                    <%= data.daysLeft >= 0 ? __('Deactivate') : __('Activate') %>
                                  </button>
                                  
                                </td>
                                <td class="text-center"><%= data.id %></td>
                              </tr>
                            <% }); %>
                          <% } else { %>
                            <tr>
                              <td colspan="9" class="text-center dataTables_empty"><%= __('No data found') %></td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                      

                      <!-- Modal -->
                      <div
                        class="modal fade"
                        id="actionModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="actionModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="actionModalLabel">
                                Modify Subscription
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form id="modifySubscriptionForm">
                                <input
                                  type="hidden"
                                  id="subscriptionId"
                                  name="subscriptionId"
                                />
                                <input
                                  type="hidden"
                                  id="subscriptionAction"
                                  name="subscriptionAction"
                                />
                                <div
                                  class="form-group"
                                  id="expireDaysContainer"
                                >
                                  <label for="expireDays"
                                    >Days Until Expire</label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="expireDays"
                                    name="expireDays"
                                    placeholder="Enter number of days"
                                  />
                                </div>
                                <button
                                  type="button"
                                  class="btn btn-danger"
                                  id="instantExpireBtn"
                                >
                                  Instant Expire
                                </button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary"
                                id="saveChangesBtn"
                              >
                                Save changes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <script>
                        $(document).ready(function () {
                          $(".openModal").on("click", function () {
                            const subscriptionId = $(this).data("id");
                            console.log(subscriptionId, "ssub");
                            const action = $(this).data("action");
                            $("#subscriptionId").val(subscriptionId);
                            $("#subscriptionAction").val(action);

                            if (action === "activate") {
                              $("#instantExpireBtn").hide();
                            } else {
                              $("#instantExpireBtn").show();
                            }

                            $("#actionModal").modal("show");
                          });

                          $("#instantExpireBtn").on("click", function () {
                            const subscriptionId = $("#subscriptionId").val();
                            console.log(subscriptionId, "subscrtion");
                            $.ajax({
                              url: "/admin/subscription/instantExpire",
                              method: "POST",
                              data: { id: subscriptionId },
                              success: function (response) {
                                console.log(response.data);
                                alert("Subscription expired instantly.");
                                location.reload();
                              },
                            });
                          });

                          $("#saveChangesBtn").on("click", function () {
                            const subscriptionId = $("#subscriptionId").val();
                            const expireDays = $("#expireDays").val();
                            const action = $("#subscriptionAction").val();

                            if (action === "activate") {
                              $.ajax({
                                url: "/admin/subscription/activate",
                                method: "POST",
                                data: {
                                  id: subscriptionId,
                                  expireDays: expireDays,
                                },
                                success: function (response) {
                                  alert("Subscription activated successfully.");
                                  location.reload();
                                },
                              });
                            } else {
                              $.ajax({
                                url: "/admin/subscription/modify",
                                method: "POST",
                                data: {
                                  id: subscriptionId,
                                  expireDays: expireDays,
                                },
                                success: function (response) {
                                  alert("Subscription modified successfully.");
                                  location.reload();
                                },
                              });
                            }
                          });
                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 20px 0;
      border-radius: 4px;
    }

    .pagination > li {
      display: inline;
    }

    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
    }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      background-color: #eee;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
      z-index: 2;
      color: #fff;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd;
    }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .responsive-table {
      width: 100%;
      table-layout: fixed;
    }

    .responsive-table td,
    .responsive-table th {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    .table th,
    .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #eceeef;
    }

    .table thead th {
      vertical-align: bottom;
      font-size: small;
      border-bottom: 2px solid #eceeef;
    }

    .table tbody + tbody {
      border-top: 2px solid #eceeef;
    }

    .table .table {
      background-color: #fff;
    }

    .table-sm th,
    .table-sm td {
      padding: 0.3rem;
    }

    .table-bordered {
      border: 1px solid #eceeef;
    }

    .table-bordered th,
    .table-bordered td {
      border: 1px solid #eceeef;
    }

    .table-bordered thead th,
    .table-bordered thead td {
      border-bottom-width: 2px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .table-hover tbody tr:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-active,
    .table-active > th,
    .table-active > td {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-hover .table-active:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-success,
    .table-success > th,
    .table-success > td {
      background-color: #dff0d8;
    }

    .table-hover .table-success:hover {
      background-color: #d0e9c6;
    }

    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
      background-color: #d0e9c6;
    }

    .table-info,
    .table-info > th,
    .table-info > td {
      background-color: #d9edf7;
    }

    .table-hover .table-info:hover {
      background-color: #c4e3f3;
    }

    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
      background-color: #c4e3f3;
    }

    .table-warning,
    .table-warning > th,
    .table-warning > td {
      background-color: #fcf8e3;
    }

    .table-hover .table-warning:hover {
      background-color: #faf2cc;
    }

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
      background-color: #faf2cc;
    }

    .table-danger,
    .table-danger > th,
    .table-danger > td {
      background-color: #f2dede;
    }

    .table-hover .table-danger:hover {
      background-color: #ebcccc;
    }

    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
      background-color: #ebcccc;
    }

    .thead-inverse th {
      color: #fff;
      background-color: #292b2c;
    }

    .thead-default th {
      color: #464a4c;
      background-color: #eceeef;
    }

    .table-inverse {
      color: #fff;
      background-color: #292b2c;
    }

    .table-inverse th,
    .table-inverse td,
    .table-inverse thead th {
      border-color: #fff;
    }

    .table-inverse.table-bordered {
      border: 0;
    }

    .table-responsive {
      /* display: block; */
      width: 100%;
      font-size: small;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive.table-bordered {
      border: 0;
    }
  </style>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  let id;
  const deleteButtons = document.querySelectorAll(".deleteRequest");
  deleteButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const DataId = e.target.closest("[data-id]").getAttribute("data-id");
      id = DataId;
      console.log(DataId);
      event.preventDefault();
      confirmDelete(e.target.href);
      console.log("id");
    });
  });
  function confirmDelete(deleteUrl) {
    Swal.fire({
      title: '<%- __("Are you sure") -%>',
      text: '<%- __("You want to delete it") -%>',
      icon: '<%- __("warning") -%>',
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: '<%- __("Yes, delete it") -%>',
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/admin/subscription/delete/${id}`;
      }
    });
  }
</script>
