<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">
                        <%= __('Edit Subscription') %>
                    </div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/admin/dashboard">
                            <%= __('Home') %>
                        </a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" href="#">
                            <%= __('Admin') %>
                        </a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" href="#">
                            <%= __('Edit Admin') %>
                        </a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                    </div>
                    <div class="card-body" id="bar-parent">
                        <!-- MESSAGE CONTAINER START -->
                        <div>
                            <% if(message !='' ) { %>
                                <div id="myDivSuccess" class="alert alert-dismissible fade show mb-0"
                                    style="background-color: rgb(183, 237, 183); border: none; color: rgb(2, 120, 2);"
                                    role="alert">
                                    <%= message %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close" onclick="hideDivSuccess()"></button>
                                </div>
                                <script>
                                    function hideDivSuccess() {
                                        var div = document.getElementById('myDivSuccess');
                                        div.style.display = 'none';
                                    }
                                </script>
                                <% } else if(error !='' ){ %>
                                    <div id="myDiv" class="alert alert-dismissible fade show mb-0"
                                        style="background-color: rgb(237 183 183); border: none; color: rgb(120 2 2);"
                                        role="alert">
                                        <%= error %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close" onclick="hideDiv()"></button>
                                    </div>
                                    <script>
                                        function hideDiv() {
                                            var div = document.getElementById('myDiv');
                                            div.style.display = 'none';
                                        }
                                    </script>
                                    <% } %>
                        </div>
                        <!-- MESSAGE CONTAINER END -->

                        <form action="/admin/subscription/update/<%= data.id %>" method="post" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        <%= __('Name') %>
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" name="name" data-required="1" placeholder="<%= __('Enter Name') %>" required class="form-control input-height" value="<%= data.name %>" />
                                    </div>
                                </div>
                                <% if (data.id !== 1) { %>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            <%= __('Price') %>
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5">
                                            <input type="number" name="price" data-required="1" placeholder="<%= __('Enter Price') %>" required class="form-control input-height" value="<%= data.price %>" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            <%= __('Subscription Type') %>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            <select class="form-control input-height" name="subscription_type" required>
                                                <option selected="selected" value="">Select</option>
                                                <option value="month" <%= data.subscription_type ==='month' ? 'selected' : '' %>>Monthly</option>
                                                <option value="year" <%= data.subscription_type ==='year' ? 'selected' : '' %>>Yearly</option>
                                            </select>
                                        </div>
                                    </div>
                                <% } %>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        <%= __('Period Days') %>
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <div class="input-group col-md-8">
                                            <input type="number" name="trial_period" data-required="1" placeholder="<%= __('Enter Period Days') %>" required class="form-control input-height" value="<%= data.trial_period %>" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-lg-12 p-t-20 text-center">
                                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">
                                            <%= __('Submit') %>
                                        </button>
                                        <a href="/admin/list">
                                            <button type="button" class="reset mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">
                                                <%= __('Cancel') %>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->
<script>
    (function ($) {
        'use strict';
        $(function () {
            $(".reset").click(function () {
                $(this).closest('form').find("input[type=text], textarea").val("");
                $(this).closest('form').find("input[type=number], textarea").val("");
                $(this).closest('form').find("input[type=file], textarea").val("");
            });
        });
    })(jQuery);
</script>