<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class="pull-left">
          <div class="page-title"><%= title %></div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li>
            <i class="fa fa-home"></i>&nbsp;<a
              class="parent-item"
              href="/admin/dashboard"
            >
              <%= __('Home') %> </a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li><a class="parent-item" href="#"> <%= title %> </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card card-box">
          <div
            class="card-head"
            style="background-color: <%= adminThemeColor %>"
          >
            <header><%= adminBusinessName %></header>
          </div>
          <div class="card-body" id="bar-parent">
            <!-- MESSAGE CONTAINER START -->

            <!-- MESSAGE CONTAINER END -->
            <form id="create_offer_form" class="form-horizontal">
              <div class="form-body">
                <div class="form-group row">
                  <label class="control-label col-md-3">
                    <%= __('Offer Title') %>
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-5">
                    <input
                      type="text"
                      name="title"
                      data-required="1"
                      placeholder="<%= __('Enter Offer Title') %>"
                      required
                      class="form-control input-height"
                      value="<%= formValue ? formValue.title : '' %>"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-3">
                    <%= __('Description') %>
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-5">
                    <textarea
                      name="description"
                      data-required="1"
                      placeholder="<%= __('Enter Offer Description') %>"
                      required
                      class="form-control"
                      rows="4"
                    >
<%= formValue ? formValue.description : '' %></textarea
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-3">
                    <%= __('Discount Percentage') %>
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-5">
                    <input
                      type="number"
                      name="discount_percentage"
                      data-required="1"
                      placeholder="<%= __('Enter Discount Percentage') %>"
                      required
                      class="form-control input-height"
                      value="<%= formValue ? formValue.discount_percentage : '' %>"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-3">
                    <%= __('Start Date') %>
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-5">
                    <input
                      type="date"
                      name="start_date"
                      data-required="1"
                      required
                      class="form-control input-height"
                      value="<%= formValue ? formValue.start_date : '' %>"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-3">
                    <%= __('End Date') %>
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-5">
                    <input
                      type="date"
                      name="end_date"
                      data-required="1"
                      required
                      class="form-control input-height"
                      value="<%= formValue ? formValue.end_date : '' %>"
                    />
                  </div>
                </div>

                <div class="form-actions">
                  <div class="col-lg-12 p-t-20 text-center">
                    <button
                      type="submit"
                      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary"
                    >
                      <%= __('Create Offer') %>
                    </button>
                    <a href="/admin/offers/list">
                      <button
                        type="button"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger"
                      >
                        <%= __('Cancel') %>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function ($) {
    "use strict";
    $(function () {
      $("#create_offer_form").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/admin/offers/create",
          data: $(this).serialize(),
          success: function (response, textStatus, xhr) {
            if (xhr.status === 200) {
              console.log(response);
              location.href = "/admin/offers/list";
            } else {
            }
          },
          error: function (xhr) {
            // Handle error cases
            // Optional: Show some error message to the user
          },
        });
      });
    });
  })(jQuery);
</script>
