<%- include('../../partials/head.ejs') -%>
    <div class="page-container">
        <style>
            :root {
                --admin-theme-color: <%=adminThemeColor %>;
            }
        </style>
        <!-- style start -->
        <!-- style end -->
        <!-- navbar start -->
        <%- include('../../partials/navbar.ejs') -%>
            <!-- navbar end -->
            <!-- sidebar start -->
            <%- include('../../partials/sidebar.ejs') -%>
                <!-- sidebar end -->
                <!-- JS start -->
                <!-- start js include path -->
                <%- include('../../partials/footer.ejs') -%>
                    <!-- JS end -->
                    <!-- Page start -->
                    <%- include('../../pages/gptAnalysis/settings.ejs') -%>
                        <!-- Page end -->
    </div>