<%- include('../../partials/head.ejs') -%>
<div class="page-container">
  <!-- style start -->
  <!-- navbar start -->
  <%- include('../../partials/navbar.ejs') -%>
  <!-- navbar end -->
  <!-- sidebar start -->
  <%- include('../../partials/sidebar.ejs') -%>
  <!-- sidebar end -->
  <!-- JS start -->
  <!-- start js include path -->
  <%- include('../../partials/footer.ejs') -%>
  
  <%-include('../../pages/subscription/all-admin-subscription.ejs') -%>
</div>
